{% extends 'account/template_account.html' %}

{% block main %}
    <div id="main">
        <h3>Konto użytkownika &raquo;
            <small>zmiana hasła</small>
        </h3>
        <form action="{% url "account.change_password" %}" method="post">
            {% csrf_token %}
            {% if cp_errors %}
                <div class="alert alert-danger">
                    {% for e in cp_errors %}
                        <div>{{ e }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if cp_success %}
                <div class="alert alert-success">Hasło zostało zmienione.</div>
            {% endif %}
            <div class="form-group row">
                <label for="cp_password" class="col-xs-4 col-form-label text-xs-right">Obecne
                    hasło<span class="required">*</span>:</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="obecne hasło"
                           name="password" id="cp_password" maxlength="32" required="required"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="cp_new_password" class="col-xs-4 col-form-label text-xs-right">Nowe
                    hasło<span class="required">*</span>:</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="nowe hasło"
                           name="new_password" id="cp_new_password" maxlength="32" required="required"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="cp_new_password2" class="col-xs-4 col-form-label text-xs-right">Powtórz nowe
                    hasło<span class="required">*</span>:</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="powtórz hasło"
                           name="new_password2" id="cp_new_password2" maxlength="32" required="required"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-xs-4 col-xs-6">
                    <input type="submit" name="change-password" class="btn btn-success btn-block"
                           value="ustaw nowe hasło"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}