{% extends 'account/template_account.html' %}

{% block main %}
    <div id="main">
        <h3>Moje rezerwacje <small>&raquo; sala <strong>{{ room.name }}</strong></small></h3>
        <p>Adres: <strong>{{ room.place }}</strong></p>
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% if history.count > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-xs-center">Termin rezerwacji</th>
                        <th class="text-xs-center">Status</th>
                        <th class="text-xs-center">Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for h in history %}
                        <tr>
                            <td class="text-xs-center">{{ h.date_from_format }} - {{ h.date_to_format }}</td>
                            <td class="text-xs-center">
                                {% if h.is_accepted %}
                                    <span class="text-success"><i class="fa fa-check-circle"></i> POTWIERDZONA</span>
                                {% elif h.is_rejected %}
                                    <span class="text-danger"><i class="fa fa-minus-circle"></i> ODRZUCONA PRZEZ OPIEKUNA SALI
                                    {% if h.reason  %}
                                        <i class="fa fa-info-circle" title="Powód: {{ h.reason }}"></i>
                                    {% endif %}</span>
                                {% elif h.is_waiting %}
                                    <span class="text-primary"><i class="fa fa-question-circle"></i> OCZEKUJE NA POTWIERDZENIE</span>
                                {% elif h.is_cancelled %}
                                    <span class="text-danger"><i class="fa fa-minus-circle"></i> ANULOWANA PRZEZ UŻYTKOWNIKA</span>
                                {% endif %}
                            </td>
                            <td class="text-xs-center">
                                {% if h.can_reject %}
                                    <a href="{% url "account.reservations.room.delete" room_id=room.id id=h.id %}" class="btn btn-danger btn-sm" data-toggle="confirm" title="Na pewno chcesz wycofać tę rezerwację sali?!<br />Sala: {{ room.name }}<br />Termin rezerwacji: {{ h.date_from_format }} - {{ h.date_to_format }}">wycofaj</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info">Twoja historia próśb i rezerwacji dla tej sali jest pusta.</div>
        {% endif %}
        {% include "widgets/pagination.html" %}
    </div>
{% endblock %}