{% extends 'template.html' %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static "js/app_admin_calendar.js" %}"></script>

    <div id="content" class="container calendarium">
        <div class="float-xs-right" style="margin-left: 10px;"><a href="{% url "dashboard.calendar" %}" class="btn btn-primary btn-sm">wybierz inną salę</a></div>
        <h3>Kalendarz rezerwacji <small>&raquo; sala {{ room.name }}</small></h3>

        <div class="float-xs-right">
            <div class="btn-group mr-1">
              <a href="{% url "dashboard.calendar.room.date" id=room.id month=prev_month year=prev_year %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></a>
              <a href="{% url "dashboard.calendar.room.date" id=room.id month=next_month year=next_year %}" class="btn btn-secondary"><i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="btn-group mr-1">
                <a href="{% url "dashboard.calendar.room" id=room.id %}" class="btn btn-secondary">dzisiaj</a>
            </div>
            <div class="btn-group">
                <a href="{% url "dashboard.availability.room" id=room.id month=month year=year %}" class="btn btn-secondary">dostępność</a>
            </div>
        </div>

        <h4>{{ month_str }} {{ year }}</h4>

        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead><tr>
                    <th>Poniedziałek</th>
                    <th>Wtorek</th>
                    <th>Środa</th>
                    <th>Czwartek</th>
                    <th>Piątek</th>
                    <th>Sobota</th>
                    <th>Niedziela</th>
                </tr></thead>
                <tbody>
                    <tr>
                    {% for i in current_first_day_range %}
                        <td class="empty"></td>
                    {% endfor %}
                    {% for i in days %}
                        {% if i.must_break %}
                            </tr><tr>
                        {% endif %}
                        {% if can_day_current == i.nr %}
                            <td class="active">
                        {% else %}
                            <td>
                        {% endif %}
                        <a href="#" class="cal-day" data-title="{{ i.nr }} {{ month_str }} {{ year }}" data-ajax-href="{% url "ajax.calendar.day" id=room.id day=i.nr month=month year=year %}">
                            <div class="title"><span>{{ i.nr }} {% if not i.availability %}
                                <i class="fa fa-ban"></i>
                            {% endif %}</span></div>
                            {% if i.count_waiting > 0 %}
                                <div class="text-danger">Prośby: <strong>{{ i.count_waiting }}</strong></div>
                            {% endif %}
                            {% if i.count_accepted > 0 %}
                                <div class="text-primary">Rezerwacje: <strong>{{ i.count_accepted }}</strong></div>
                            {% endif %}
                        </a></td>
                    {% endfor %}
                    {% for i in how_end_range %}
                        <td class="empty"></td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}