{% extends 'template.html' %}

{% block content %}
    <div id="content" class="container">
        <h3>Zapomniane hasło</h3>
        <div class="row">
            <div class="col-md-8">
                {% if sended %}
                    <div class="alert alert-success">Na podany adres email wysłano link umożliwiający zresetowanie
                        hasła.
                    </div>
                {% else %}
                    <p class="lead text-xs-center">Podaj adres email, na który została dokonana rejestracja.</p>
                    <form action="{% url "forgotten_password" %}" method="post">
                        {% csrf_token %}
                        {% if errors %}
                            <div class="alert alert-danger">
                                {% for e in errors %}
                                    <div>{{ e }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            <label for="rp_email" class="col-xs-4 col-form-label text-xs-right">Adres email<span
                                    class="required">*</span>:</label>
                            <div class="col-xs-8">
                                <input type="email" class="form-control" placeholder="adres email" name="email"
                                       id="rp_email"
                                       maxlength="128" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-4 col-form-label text-xs-right">Kod:</label>
                            <div class="col-xs-8">
                                <img id="rp_captcha_img" class="captcha" src="{{ captcha_url }}" alt=""/>
                                <a href="#" class="captcha_reload" data-target="#rp_captcha_img"
                                   data-url="{{ captcha_url }}"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="su_captcha" class="col-xs-4 col-form-label text-xs-right">Przepisz kod<span
                                    class="required">*</span>:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder="przepisz kod" name="captcha"
                                       id="su_captcha" maxlength="{{ captcha_max }}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-xs-4 col-xs-8">
                                <input type="submit" class="btn btn-primary" name="reset" value="dalej"/>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="jumbotron text-xs-center">
                    <div><i class="fa fa-unlock-alt fa-7x"></i></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}