{% extends 'template.html' %}

{% block content %}
    <div id="content" class="container">
        <h3>Resetowanie hasła</h3>
        <div class="row">
            <div class="col-lg-8">
                {% if invalid_hash %}
                    <div class="alert alert-danger">Nieprawidłowy link.</div>
                {% else %}
                    <form action="{% url "reset_password" hash=hash %}" method="post">
                        {% csrf_token %}
                        {% if errors %}
                            <div class="alert alert-danger">
                                {% for e in errors %}
                                    <div>{{ e }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            <label class="col-xs-4 text-xs-right">Adres email<span
                                    class="required">*</span>:</label>
                            <div class="col-xs-8">
                                {{ email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rp_password" class="col-xs-4 col-form-label text-xs-right">Nowe hasło<span
                                    class="required">*</span>:</label>
                            <div class="col-xs-8">
                                <input type="password" class="form-control" placeholder="nowe hasło" name="password"
                                       id="rp_password" required="required"
                                       maxlength="32"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="su_password2" class="col-xs-4 col-form-label text-xs-right">Powtórz nowe
                                hasło<span
                                        class="required">*</span>:</label>
                            <div class="col-xs-8">
                                <input type="password" class="form-control" placeholder="powtórz nowe hasło"
                                       name="password2" required="required"
                                       id="su_password2" maxlength="32"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-xs-4 col-xs-8">
                                <input type="submit" name="reset_password" class="btn btn-success btn-block"
                                       value="ustaw nowe hasło"/>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="jumbotron text-xs-center">
                    <div><i class="fa fa-unlock-alt fa-7x"></i></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}