body {
    font-size: 15px;
}

.required { color: #f00000; }

.fa-10x { font-size: 1000%; }
.fa-7x { font-size: 700%; }

.captcha { border: 1px solid #DDD; border-radius: 4px; }
.captcha_reload { margin-left: 5px; font-size: 18px; }

.anchor-card-inverse, .anchor-card-inverse:hover, .anchor-card-inverse:focus {
    color: #fff;
    text-decoration: none;
}

.tile-box {
    display: block;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    &:hover, &:focus {
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
    }
    .tile-header {
        padding: 10px;
        text-align: center;
        background: rgba(255,255,255,0.2);
    }
    .tile-content {
        padding: 20px 10px;
        text-align: center;
        span {
            font-size: 25px;
            font-weight: bold;
        }
    }
}

#menu {
    background-color: #2d3e50;
    border-radius: 0;
    #menu_navbar {
        @media all and (max-width: 991px) {
            clear: both;
            padding: 10px 0;
        }
        ul.navbar-nav {
            margin: 0;
            li.nav-item.active > a {
                color: #ffffff !important;
            }
            li.nav-item {
                @media all and (min-width: 992px) {
                    & + li.nav-item {
                        margin-left: 2rem;
                    }
                }
                .nav-link {
                    color: #ccc;
                    &:focus, &:hover {
                        color: #ffffff;
                    }
                    i {
                        margin-right: 4px;
                    }
                }
            }
        }
        @media all and (min-width: 992px) {
            ul.navbar-right {
                float: right;
            }
        }
    }
}

#menu_bars {
    float: right;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    a {
        display: block;
        color: #fff;
        padding: 3px 8px;
        border: 1px solid #444;
        border-radius: 4px;
    }
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
    h3 {
        margin-bottom: 35px;
    }
}

#sidebar {
    h3 {
        font-size: 18px;
        margin: 0 0 15px 0;
    }
    @media all and (max-width: 767px) {
        margin-top: 25px;
    }
}

.home-wi {
    h3 {
        margin-top: 30px;
    }
    @media all and (min-width: 992px) {
        h3 {
            margin-top: 0;
        }
    }
    .home-wi-icon {
        font-size: 50px;
        text-align: center;
        margin: 15px 0;
    }
}

.modal-footer button {
    margin: 0 5px;
}

.bookmark {
    float: right;
    margin: 5px 0 0 0;
    a + a {
        margin-left: 10px;
    }
}

.calendarium {
    h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }
    th {
        text-align: center;
        background: #006DCC linear-gradient(to bottom, #08C, #04C);
        color: #fff;
        text-transform: uppercase;
        border-color: rgba(0, 0, 0, 0.1);
        border-top-width: 0;
        border-bottom-width: 0;
        width: 14.28%;
    }
    td {
        a {
            color: #000;
            display: block;
            height: 100px;
        }
        border-color: #e1e1e1;
        &.empty {
            background: #ededed;
        }
        &.active {
            background: #faf2cc;
        }
        .title {
            font-size: 15px;
            font-weight: bold;
            span {
                background: #eeeeee;
                border-radius: 5px;
                border: 1px solid #CCC;
                padding: 5px 10px;
                display: inline-block;
            }
        }
        div + div {
            margin-top: 5px;
        }
    }
}