{% extends 'template.html' %}

{% block content %}
    <div id="content" class="container">
        <h3>Zarządzanie systemem</h3>
        <div class="row">
            <div class="col-md-3">
                <a href="{% url "dashboard.calendar" %}" class="tile-box btn-warning">
                    <div class="tile-header">Kalendarz rezerwacji</div>
                    <div class="tile-content">
                        <span><i class="fa fa-calendar"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url "dashboard.pendings" %}" class="tile-box btn-danger">
                    <div class="tile-header">Oczekujące prośby</div>
                    <div class="tile-content">
                        <span>{{ reservations_waiting_count }}</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url "dashboard.rooms" %}" class="tile-box btn-primary">
                    <div class="tile-header">Sale</div>
                    <div class="tile-content">
                        <span>{{ rooms_count }}</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url "dashboard.users" %}" class="tile-box btn-success">
                    <div class="tile-header">Użytkownicy</div>
                    <div class="tile-content">
                        <span>{{ users_count }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}